   <form action="/grabar" method="POST">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="nombre de comic" name="nombre">
    </div>
    <div class="form-group">
      <label for="imagen">imagen:</label>
      <input type="text" class="form-control" id="imagen" placeholder="url" name="imagen">
    </div>
    <div class="form-group">
      <label for="poder">Poderes:</label>
      <input type="text" class="form-control" id="poder" placeholder="poderes" name="poder">
    </div>

    <button type="submit" class="btn btn-primary">guardar</button>
  </form>
